:root {
  --ifm-color-primary: #a53072;
  --ifm-color-primary-dark: #942b67;
  --ifm-color-primary-darker: #8c2960;
  --ifm-color-primary-darkest: #73224f;
  --ifm-color-primary-light: #b7367e;
  --ifm-color-primary-lighter: #be3c84;
  --ifm-color-primary-lightest: #ca5a97;
  --ifm-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --ifm-heading-font-weight: 800;
  --ifm-code-font-size: 92%;
}
[data-theme='dark'] {--ifm-color-primary:#f08bbc;--ifm-background-color:#17131a;--ifm-background-surface-color:#211a24;}
.navbar {box-shadow:0 2px 16px rgba(28,17,31,.06)}
.theme-doc-markdown img {border-radius:16px}
